[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=7.6"

[packages]
requests = "==2.32.3"

[requires]
python_version = "3.11"

[scripts]
cover = 'coverage run -m unittest discover -v'
report = 'coverage report --include=lib/\*'
test = 'python -m unittest discover -v'
