[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "==2.22.0"
coverage = "~=5.0"

[requires]
python_version = "3.7"

[scripts]
cover = 'coverage run -m unittest discover -v'
report = 'coverage report --include=lib/\*'
test = 'python -m unittest discover -v'
